/*====================
===== MAIN TAGS ======
====================*/
body {
    background-color: black;
    margin: 0;
}
h1 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 50px;
    line-height: 100px;
    margin-left: 20px;
    color: #fff;
}
h4 {
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 0;
    color: #fff;
}
p {
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 0;
    columns: 2;
    color: #fff;
}
a {
    text-decoration: none; /* Takes all decorations away from the link text */
}
a p{
    column-count: 1; /* Creates 1 colum for the paragraph text with in the link tag */
    color: white; /* Sets the colour of the text */
    background-color: rgba(137, 137, 137, 0.15); /* sets the background colour using rgba so can set the oppactity as well as the colour */
    transition: 0.3s ease; /* Creates a timed transition between the changes when being hovered over */
}
a p:hover {
    color: black; /* Sets the colour of the text */
    background-color: #e4e4e4; /* sets the background colour */
    transition: 0.3s ease; /* Creates a timed transition between the changes when being hovered over */
}

/*====================
====== ID TAGS =======
====================*/
/* Contains all the information on the webpage, as well as centering teh information and giving it a background image */
#container {
    width: 800px; /* sets the width of the container by pixles */
    /*===== Centers the content to the middle of the screen ======*/
    margin-left: auto;
    margin-right: auto;
    /*============================================================*/
    background-image: url('../images/bg-image.jpeg'); /* Background image */
    background-size: cover; /* Makes the image cover the contained area */
    background-repeat: no-repeat; /* Makes sure that the image does ot repeat */
    padding-bottom: 20px; /* Adds space at the bottom of the container */
}

/* Container for the heading of the page */
#masthead {
    height: 100px; /* Sets the height of the container */
    background-image: url('../images/bg-heading.jpeg'); /* Background image */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position: bottom; /* Sets the bottom of the image to be the achor point*/
}

/* Contains all the links setting the width of the container */
#links-block {
    width: 50%; /* Make the width responsive to the scakle of the screen so that it will alwasy sit at 50% of the containers width */
}

/* Style for the main content on the web page */
#content-holder {
    position: relative;
}

/* Positions the image of the flower */
#trans-flower {
    width: 200px;
    position: absolute;
    bottom: -20px;
    right: 0;
}